html{
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 body{
   
 } 

  nav {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 10%;
    height: 100vh;
    background-color: #fff;
    
    
    display: none;
  }
  nav a{
    text-decoration: none;
    color: #444;
    font-size: 25px;
    display: block;
    
  }
  nav.show{
    display: block;
  }

  .nav-icon {
  margin-left: 5em;
    position: absolute;
    width: 30px;
    top: 25px;
  }
  .mainicon{
    position: fixed;
   margin-left: 80px;
  
 
  }
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    
    background-color: #444;
    border-radius: 3px;
    content: '';
    display: block;
    cursor: pointer;
    top: 80px;
    /* translateY value = height + margin */ 
    height: 4px;
    margin: 6px 0;
    transition: all .3s ease-in-out;
  }
  
  .nav-icon:hover:before {
    /* translateY value = height + margin */ 
    transform: translateY(10px) rotate(135deg);
  }
  
  .nav-icon:hover:after {
    /* translateY value = height + margin */ 
    transform: translateY(-10px) rotate(-135deg);
  }
  
  .nav-icon:hover div {
    transform: scale(0);
  }
  section {
    height: 100vh;
    padding: 30px;
    display: flex;
    
    justify-content: center;
    
  }
  
  
  

  .fullpage {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
  }
  
  .fullpage > section {
    /*스냅 걸리는 위치*/
    scroll-snap-align: start;
  }
  /*style.css*/
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Maven Pro', sans-serif;
  overflow: hidden;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}


#main_header{
  width: 100%;
  height: 90px;
  position: relative;
 
}
#main_header .container{
 
}
 h1.logotitle{
 
 
  text-align: center;
}
#main_header h1.logotitle > a > img{
  padding-top: 15px;
  width: 180px;
}
#main_header .sns-icon{
  position: relative;
  
}
#main_header .icon-list{
  position: absolute;
  right: 5em;
  top: -80px;
}
#main_header .icon-list > li{
 margin-left: 30px;
 margin-top: 35px;
  display: inline-block;
}
#main_header .icon-list > li > a> img{
  width: 20px;
  height: 20px;
}
#main_header  .sns{
  position: relative;
}
#main_header  .sns> ul{
  position: absolute;
  right:180px;
}
#main_header > .sns> ul > li > a>img{
  width: 20px;
  height: 20px;
 
}
#main_header > .sns> ul > li{
  display: inline-block;
  margin-top: 35px;
  
  margin-left: 30px;
}
#sns{
  display: none;
}
/*gnb 햄버거버튼*/
.nav-icon {
  margin-left: 5em;
    position: absolute;
    width: 30px;
   
  }
  .mainicon{
    position: fixed;
    margin-left: 0;
    top: 25px;
   left: 5em
  }
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    
    background-color: #444;
    border-radius: 3px;
    content: '';
    display: block;
    cursor: pointer;
    top: 80px;
    /* translateY value = height + margin */ 
    height: 4px;
    margin: 6px 0;
    transition: all .5s ease-in-out;
  }
  
  .nav-icon:hover:before {
    /* translateY value = height + margin */ 
    transform: translateY(10px) rotate(135deg);
  }
  
  .nav-icon:hover:after {
    /* translateY value = height + margin */ 
    transform: translateY(-10px) rotate(-135deg);
  }
  
  .nav-icon:hover div {
    transform: scale(0);
  }
/*gnb*/

nav a{
  text-decoration: none;
  color: #444;
  font-size: 25px;
  display: block;
  
}
nav.show{
  display: block;
}

#main_header   #gnb  h3{
 text-align: center;
 padding-top: 330px;
  font-size: 15px;
  letter-spacing: 2px;  
}

#main_header  #gnb{
  position: absolute;
  margin-top: 0px;
  width: 400px;
  z-index: 999;
  overflow: scroll;
}
#main_header  #gnb > ul.depth1{
  position: absolute;
  
  top: 130px;
}
#gnb > ul.depth1 > li.menu{
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
 display: flex;
  /*width: 115px;*/
  font-weight: bold;
  /*outline: 1px solid gray;*/
  font-size: 25px;
  text-transform: uppercase;
 
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#gnb > ul > li > a {
  color :#1d1d1d;
  /*outline: 1px solid green;*/
}
#gnb > ul.depth1 > li.menu > a > button{
  position: absolute;
  right: 30px;
}
#gnb .depth2{
  background-color: rgba(0,0,0,0.1);
  max-height: 0;
 width: 400px;
 overflow: hidden;
transition: 0.5s;
}
 /* 보임 block */
 #gnb .depth2.active {
  /* display: block; */
  /* padding: 2em 1em; */
  max-height: 400px;
}

#gnb > ul > li > a:hover{
  color: #1d1d1d;
}
#gnb .depth2 > li {
  padding: 16px;
  text-align: center;
  
}
#gnb .depth2 > li > a{
  color: rgba(0,0,0,0.7);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
#gnb .depth2 > li > a:hover{
  color: rgba(0,0,0,0.4);
  
}
.depth1 button {
  border: none;
  background: transparent; /* 투명 배경 */
  transition: 0.2s;
}

/* 메뉴가 열리면 닫기 버튼 상태 */
.depth1 button.up {
  transform: rotate(180deg);
}
#main-visual{
  
  height: 100vh;
  background-image: url(../images/mainvisualimage.jpg);
  background-size: cover;
  background-position: center center;
}
#main-visual > .visual{
  position: relative;
  
}
#main-visual > .visual > img{
 position: absolute;
 right: -180px;
 padding-top: 200px;
  width: 764px;
  height: 544.95px;
 
}
#up>#box > h1{
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px black;
  width: 764px;
  
  

}

#up{
  background-image: url(../images/pixar_up.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
}
#up >#box>ul >  li{
  list-style-type: none;
  display: inline-block;
  
}
#up >#box> ul > li > a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 1px 2px 3px black;
}
#up >#box> ul > li >a> span{
      margin-left: 1em;
      margin-right: 1em;
      font-size: 20px;    
}
#up> #box{
     
      position: absolute;
      margin-right: 0;
     right: -40px;
      
      
}
#toy >#box> h1{
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px black;
  width: 764px;
  
 
}
#toy{
  background-image: url(../images/ToyStory3.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
}
#toy >#box>ul >  li{
  list-style-type: none;
  display: inline-block;
  
  
}
#toy >#box> ul > li > a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 1px 2px 3px black;
}
#toy >#box> ul > li >a> span{
      margin-left: 1em;
      margin-right: 1em;
      font-size: 20px;    
}
#toy> #box{
 
      position: absolute;
      margin-right: 0;
     right: -40px;
} 

#inside >#box> h1{
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px black;
  width: 764px;

}
#inside{
  background-image: url(../images/g6.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
 display: flex;
 align-items: center;
}
#inside>#box >ul >  li{
  list-style-type: none;
  display: inline-block;
  
  
}

#inside >#box> ul > li > a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 1px 2px 3px black;
}
#inside >#box> ul > li >a> span{
      margin-left: 1em;
      margin-right: 1em;
      font-size: 20px;    
}
#inside> #box{
  
  position: absolute;
  margin-right: 0;
 right: -40px;
} 
#main_footer{
  width: 100%;
  background-color: white;
  height: 306px;
  color: rgba(29,29,29,.7);

}

 h3{
  
  
}




